/* Global Custom CSS */
header, footer {
    color: white;
}

footer ul a {
    color: #F5F5F5;
}

footer ul a:hover {
    color: #fedc59;
}

footer ul li {
    margin: 2% 0%;
}

p {
    font-size: 1.1em;
}

/* For Smaller Screen */
@media only screen and (max-width: 992px) {
    header .title-bar, header .title-search, button[type="submit"] {
        display: none !important;
    }
}